body {
    font-family: "Karla", sans-serif;
    background: #2B3136;
}

#all-content {
    background: #30373D;
    margin: 2% 10% 0 10%;
    border: 4px solid transparent;
    border-radius: 5px;
    height: 100%;
}
/* End Page Format */

/* Start Main Title */
.main-title {
    text-align: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
    padding-top: 2%;
    padding-bottom: 2%;
    border-bottom: 1px solid #4A545C;
}